@import "bootstrap/scss/bootstrap";

body,
html {
    margin: 0;
    padding: 0;
    // width: 100vw;
    // height: 100vh;
}

#container {
    position: relative;
    width: 100vw;
    height: 100vh;
    font-size: 50vh;
}

#content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#maskContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

#bgvideo{
    width: 100vw;
}